body {
	height: 500px;
	width: 300px;
	border: 1px dotted red;
	/*background: black;*/
}

.entete {
	height: 35px;
	width: 296px;
	background: #0000ff;
	margin-left: 2px;
	text-align: center;
	padding-top: 15px;
	vertical-align: middle; !marche jamais
}

/*.pff {
	height: 50px;
	width: 500px;
	background: yellow;
	display: block;
	position: fixed;
	top: 1;
}*/

.blok {
	height: 450px;
	width: 100%;
}
.case {
	background: green;
	margin-top: 2px;
	height: 73px;
}
