@charset "utf-8";
/* CSS Document */

#menu {
	width:857px;
	height:50px;
	/*background-color:#66FF00;*/
	text-align:center;
	line-height:50px;
	float:left;
	padding-left: 167px;


	}
#menu a {
	color:#FFFFFF;
	text-transform:uppercase;
	background-image:url(images/bouton11.gif);
	text-decoration:none;
	width:138px;
	height:50px;
	display:block;
	}
#menu ul {
	list-style-type:none;
	padding:0;
	margin:0;
	}
#menu ul li {
	float:left;
	}
#menu a:hover {
	background-image: url(images/bouton22.gif);
	width:138px;
	height:50px;
	color:#CCCCCC;
	}